.animalView{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-attachment: fixed;
}
.animalInfo{
    height: 370px;
    border-radius: 15px;
    margin-top: -10px;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    
}


.nameText{
    color: #6DCD4E;
    font-size: 30px;
    flex: auto;
    margin-bottom: -5px;
    margin-left: 10px;
}

.infoSection{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    
}

.labelText{
    font-size: 15px;
}

.infoText{
    font-size: 15px;
    
}

.imagecontaineranimalview{
    
}

.animalViewImage{
    height: 370px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}

.quizSection{
    background-color: #6DCD4E;
    justify-content: center;
    align-items: center;
    flex: auto;
    border-radius: 15px;
    border-radius: #6DCD4E;
    
}

.quizButton{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #044700;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 34%;
}