.animalInfo{
    height: 100%;
    border-radius: 15px;
    margin-top: -10px;
}

.nameText{
    color: #6DCD4E;
    font-size: 30px;
    flex: 1;

}

.infoSection{
    text-align: justify;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
}

.labelText{
    font-size: 15px;
}

.infoText{
    font-size: 15px;
    
}


.animalViewImage{
    height: 370px;
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.quizSection{
    background-color: #6DCD4E;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.quizButton{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #044700;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
}