.animalList{
    width: 100%;
    background-color: white;
    padding: 10px;
   
}

.list{
    width: 50%;
    flex-direction: row;
    display: flex;
    /* padding: 5px; */
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}
.imagecontainer{
    flex: content;
    width: 98%;
}
.animalimage{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
