.animalInfo{
    width: 100%;
    border-radius: 15px;
    margin-top: -10px;
}

.nameText{
    color: #6DCD4E;
    font-size: 30px;
}

.infoSection{
    text-align: justify;
}

.labelText{

}

.infoText{

}


.animalViewImage{
    width:100%;
}