html {
    zoom: 160%;
}
body{
    font-family: AbortSignal, Helvetica, sans-serif;
    font-size:10px;
    line-height:1;
    background: rgb(12, 129, 1);
 
    
}
.imagebackground {
    background-attachment: fixed;
    width: 1920;
    height: 1920;
    position: absolute;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size:30px;
    
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
}

.modaltitle{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.modaldescription{
    text-align: justify;
}

.seeAnimalsBtn{
    background-color: rgb(10, 99, 2);
    color: rgb(255, 255, 255);
    border-color: rgba(204, 204, 204, 0);
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    justify-content: end;
}

.seeAnimalsBtn:hover{
    transform: scale(1.05);
}

.firstModal-content{
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    
}

.button1{
    background: rgba(255, 255, 255, 0.164);
    padding: 15px; 
    color: #fff;
    border: 0;
    border-radius: 10px;
    position: absolute;
    left: 550px;
    top: 540px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.button1:hover{
    background:rgba(51, 51, 51, 0);
    transform: scale(1.1);
}

.button2{
    background: rgba(255, 255, 255, 0.164);
    padding: 15px; 
    color: #fff;
    border: 0;
    border-radius: 10px;
    position: absolute;
    left: 240px;
    top: 640px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.button2:hover{
    background:rgba(51, 51, 51, 0);
    transform: scale(1.1);
}

.button3{
    background: rgba(255, 255, 255, 0.164);
    padding: 15px; 
    color: #fff;
    border: 0;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    top: 500px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.button3:hover{
    background:rgba(51, 51, 51, 0);
    transform: scale(1.1);
}

.button4{
    background: rgba(255, 255, 255, 0.164);
    padding: 15px; 
    color: #fff;
    border: 0;
    border-radius: 10px;
    position: absolute;
    left: 380px;
    top: 530px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.button4:hover{
    background:rgba(51, 51, 51, 0);
    transform: scale(1.1);
}


.modal2{
    display:none;
    position: fixed;
    z-index:1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.closeBtn2{
    color: #ccc;
    float: right;
    font-size:30px;
}

.closeBtn2:hover, .closeBtn2:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.modal3{
    display:none;
    position: fixed;
    z-index:1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.closeBtn3{
    color: #ccc;
    float: right;
    font-size:30px;
}

.closeBtn3:hover, .closeBtn3:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal4{
    display:none;
    position: fixed;
    z-index:1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.closeBtn4{
    color: #ccc;
    float: right;
    font-size:30px;
}

.closeBtn4:hover, .closeBtn4:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

