html {
    zoom: 140%;
    
}
body{
    font-family: AbortSignal, Helvetica, sans-serif;
    font-size:10px;
    line-height:1;
    background: rgb(255, 255, 255);
    margin: 0px;
    
}
.imagebackground {
    background-attachment: fixed;
    max-width: 854px;
    height: auto;
    position: absolute;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size:30px;
    
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 550px;
    top: 540px;
    height: 100%;
    width: 200px;
    overflow: auto;
    justify-content: center;
}

.elephantModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 570px;
    top: 590px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.modaltitle{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: -5px;
}

.modaldescription{
    text-align: justify;
}

.enclosureImageContainer{
    height: 100px;
    width: 150px;
    align-items: center;
    flex-wrap: wrap;
    flex: content;

}

.enclosureImage{
    height: 90%;
    width: 100%;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    
}

.seeAnimalsBtn{
    align-items: center;
    background-color: #FFFFFF;
    color: #668d3c;
    border: 1px solid;
    border-color: #668d3c;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    justify-content: end;
}

.seeAnimalsBtn:hover{
    background-color: #668d3c;
    color: #FFFFFF;
}

.firstModal-content{
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
    animation: anime2 1s infinite ease-in-out alternate;
}

@keyframes anime{
    100%{
        transform:translateY(3px);
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: scale(1.1);
        
    }
}

@keyframes anime2{
    100%{
        transform:translateY(1px);
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        -ms-transform: translateY(1px);
        -o-transform: translateY(1px);
        /* transform: scale(1.01); */
        
    }
}

.elephantButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 590px;
    top: 600px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5), 0 7px 20px 0 rgba(0,0,0,0.5);  */
    animation: anime 1s infinite ease-in-out alternate;
}

.elephantButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.hippopotamusButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 628px;
    top: 570px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5), 0 7px 20px 0 rgba(0,0,0,0.5); */
    animation: anime 1s infinite ease-in-out alternate;
}

.hippopotamusButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.hippopotamusModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 570px;
    top: 550px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.aviaryButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 445px;
    top: 560px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5), 0 7px 20px 0 rgba(0,0,0,0.5); */
    animation: anime 1s infinite ease-in-out alternate;
}

.aviaryButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.aviaryModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 380px;
    top: 530px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.hyenaButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 600px;
    top: 440px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.hyenaButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.hyenaModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 535px;
    top: 450px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.savannaButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 660px;
    top: 300px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.savannaButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.savannaModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 600px;
    top: 310px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.apexButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 510px;
    top: 290px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.apexButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.apexModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 460px;
    top: 315px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.endemicButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 510px;
    top: 130px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.endemicButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.endemicModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 460px;
    top: 155px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.reptileButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 340px;
    top: 160px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.reptileButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.reptileModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 300px;
    top: 185px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.museumButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 420px;
    top: 210px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.museumButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.museumModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 360px;
    top: 220px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.inreptileButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 230px;
    top: 240px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.inreptileButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.inreptileModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 170px;
    top: 265px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.lagoonButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 310px;
    top: 280px;
   /*  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.lagoonButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.lagoonModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 250px;
    top: 290px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.islandButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 370px;
    top: 330px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.islandButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.islandModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 310px;
    top: 355px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.primatesButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 230px;
    top: 370px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.primatesButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.primatesModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 180px;
    top: 380px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.butterflyButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 150px;
    top: 620px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.butterflyButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.butterflyModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 110px;
    top: 645px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.botanicalButton{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 0 2px #000, inset 0 0 0 1px rgb(0, 0, 0);
    border: 1px solid transparent;
    left: 280px;
    top: 620px;
   /*  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation: anime 1s infinite ease-in-out alternate;
}

.botanicalButton:hover{
    background:#FFFFFF;
    color:#000000;
}

.botanicalModal{
    display: 'block';
    position: fixed;
    z-index:1;
    left: 230px;
    top: 645px;
    height: 100%;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    justify-content: center;
}

.button2{
    background: rgba(255, 255, 255, 0.164);
    padding: 15px; 
    color: #fff;
    border: 0;
    border-radius: 10px;
    position: absolute;
    left: 240px;
    top: 640px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.button2:hover{
    background:#FFFFFF;
    color:#000000;
}



.button4{
    background: rgba(255, 255, 255, 0.164);
    padding: 15px; 
    color: #fff;
    border: 0;
    border-radius: 10px;
    position: absolute;
    left: 380px;
    top: 530px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.button4:hover{
    background:#FFFFFF;
    color:#000000;
}


.modal2{
    display:none;
    position: fixed;
    z-index:1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.closeBtn2{
    color: #ccc;
    float: right;
    font-size:30px;
}

.closeBtn2:hover, .closeBtn2:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.modal3{
    display:none;
    position: fixed;
    z-index:1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.closeBtn3{
    color: #ccc;
    float: right;
    font-size:30px;
}

.closeBtn3:hover, .closeBtn3:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal4{
    display:none;
    position: fixed;
    z-index:1;
    left: 0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.closeBtn4{
    color: #ccc;
    float: right;
    font-size:30px;
}

.closeBtn4:hover, .closeBtn4:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

