.pageContainer{
    background-color: #668d3c;
    height: 100%;
    width: 100%;
}

.pageContainer2{
    flex: content;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
}
.quizSection{
    background-color: #fff;
    height: 460px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    
}
.questionContainer{
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
.questionCounterContainer{
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -5px;
}
.questionText{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -5px;
    text-align: center;
}
.optionsContainer{
    align-items: center;
    justify-content: center;
    align-content: center;
}
.optionButton{
    border-width: 2px;
    height: 60px;
    width: 250px;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 10%;
}
.optionText{
    font-size: 16;
    font-weight: bold;
    text-align: center;
}
.nextButton{
    margin-top: 10;
    width: 250px;
    height: 50px;
    background-color: #145da0;
    border-radius: 15px;
    margin-left: 5%;

    align-items: center;
    text-align: center;
    justify-content: center;
}
.nextText{
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    
}
.screen{
    background-color: #668d3c;
    height: 100%;
}

.quizResult{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}